@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body{
	margin:0;
	padding:0;
	overflow-x: hidden;
}

*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	font-family: 'Oswald', sans-serif;
}

/*Header*/
.logo > img{
    width: 150px ;
}
header{
	position:fixed;
	left: 0px;
	top:0px;
	width: 100%;
	z-index: 10;
	background-color: #000000;
	padding:15px 15px;
}
header .container{
	-webkit-display: flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logo a{
	font-size: 30px;
	text-decoration: none;
	color:#ffffff;
	font-weight: 700;
}
header .logo a span{
	color:#c11325;
}
header .nav{
	position: fixed;
	background-color: #c11325;
	width: 280px;
	top:0;
	right:0;
	height: 100%;
	z-index: 99;
	padding:100px 0px 15px; 
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition: transform .5s ease;
    transition: transform .5s ease;
}
header .nav.open{
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
header .nav ul{
	list-style: none;
	margin:0;
	padding:0px;
}
header .nav ul li{
display: block;
}
header .nav ul li a{
	text-decoration: none;
	font-size: 30px;
	font-weight: 400;
    color:#ffffff;
    display: block;
    position: relative;
    padding:10px 30px;
}
header .nav ul li a.active::before{
	content: '';
	position: absolute;
	left:0px;
	top:0px;
	height: 100%;
	width:100%;
	background-color:#000000;
	opacity:.2;
	-webkit-transition: width .5s ease;
	transition: width .5s ease;
	z-index: -1;
}
header .nav ul li a::before{
	content: '';
	position: absolute;
	left:0px;
	top:0px;
	height: 100%;
	width:0px;
	background-color:#000000;
	opacity:.2;
	-webkit-transition: width .5s ease;
	transition: width .5s ease;
	z-index: -1;
}
header .nav ul li a:hover::before{
	width: 100%;
}
header .ham-burger{
	display: inline-block;
	position: relative;
	z-index: 100;
}
header .ham-burger span{
	height: 3px;
	margin-bottom:8px;
	display: block;
	background-color:#ffffff;
	width:30px;
	-webkit-transition: transform .5s ease;
	transition: transform .5s ease;
}
header .ham-burger span:nth-child(1){
	transform-origin: left top;
}
header .ham-burger span:nth-child(2){
	transform-origin: left bottom;
}

header .ham-burger.active span:nth-child(1){
	-webkit-transform: rotate(45deg) translateY(-6px);
	transform: rotate(45deg) translateY(-6px);
}
header .ham-burger.active span:nth-child(2){
	-webkit-transform: rotate(-45deg) translateY(6px);
	transform: rotate(-45deg) translateY(6px)
}

.container{
	max-width: 1170px;
	margin: auto;
}

/*Home section*/
.home{
	height: 100vh;
	background-image: url('../images/hd.jpg');
	background-size: cover;
	padding:15px;
	-webkit-display: flex;
	display: flex;
	position: relative;
}
.home .go-down{
  position: absolute;
  bottom: 50px;
  width: 26px;
  height:40px;
  border:1px solid #ffffff;
  display: block;
  border-radius:4px;
  text-align: center;
  left:50%;
  margin-left: -13px;
}
.home .go-down .fa{
	color:#ffffff;
	-webkit-animation: goDown 1s ease infinite;
	animation: goDown 1s ease infinite;
}
@-webkit-keyframes goDown{
	0%{transform: translateY(0);opacity:.5}
	100%{transform: translateY(10px);}
}
@keyframes goDown{
	0%{transform: translateY(0);opacity:.5}
	100%{transform: translateY(10px);}
}
.home .container{
  -webkit-display: flex;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.home h1{
	color:#ffffff;
	font-size: 60px;
	font-weight: 700;
	text-transform: uppercase;
	margin:0;
}

.home h1 span{
	color:#c11325;;
}

/*About section*/

.about{
	padding:80px 0px;
	background-color:#ffffff;
}

.about .content{ 
 -webkit-display: flex;
 display: flex;
}
.about .content .box{
	flex:0 0 33.33%;
	max-width: 33.33%;
	padding:15px;
}
.about .content .box .inner{
	background-color:#222222;
}
.about .content .box:nth-child(2) .inner{
	background-color: #c11325;
}
.about .content .box .inner .img img{
	width: 100%;
}
.about .content .box .inner .text{
	padding:30px;
}

.about .content .box .inner .text h4{
  font-size: 20px;
  margin:0;
  padding: 0px 0px 15px;
  font-weight: 500;
  color:#ffffff;
 text-transform: capitalize;
  text-align: center;
}
.about .content .box .inner .text p{
	font-size: 15px;
	line-height:20px;
	color:#ffffff;
	text-align: center;
	margin:0;
	font-family: 'Open Sans', sans-serif;
}


/*Service Section*/
.service{
	padding:80px 0px;
	background-color: #c11325;
}

.service .content{
	-webkit-display:flex;
	display:flex;
}

.service .content .box{
	flex:0 0 50%;
	max-width: 50%;
	padding:15px;
}

.service .content .text h2{
	font-size: 30px;
	font-weight: 500;
	color:#ffffff;
	padding:0px 0px 20px;
}

.service .content .text p{
    font-size: 15px;
	line-height:20px;
	color:#ffffff;
	margin:0;
	padding:0px 0px 20px;
	font-family: 'Open Sans', sans-serif;
}

.service .content .text .btn{
	padding:8px 30px;
	background-color: #222222;
	color:#ffffff;
	text-decoration: none;
	display: inline-block;
	border:1px solid transparent;
	cursor: pointer;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

.service .content .text .btn:hover{
	border:1px solid #ffffff;
	color:#ffffff;
	background-color: transparent;
}
.service .content .accordian-container{
	margin-bottom: 5px;
}
.service .content .accordian-container .head{
	background-color:rgba(0,0,0,0.2);
	position: relative;
	padding:12px 15px;
	cursor: pointer;
}
.service .content .accordian-container .head .fa{
	position: absolute;
	right: 10px;
	top:13px;
	color:#ffffff;
	height:30px;
	width: 30px;
	text-align: center;
	line-height: 30px;
	color:#ffffff;
	border-radius: 50%;
}
.service .content .accordian-container .head h4{
  font-size: 20px;
  margin:0;
  padding:0;
  font-weight: 500;
  color: #ffffff;
  text-transform: capitalize;
}
.service .content .accordian-container.active .head{
  background-color: #222222;	
}
.service .content .accordian-container .body{
	display: none;
	padding:15px;
	background-color: #222222;
	border-top:1px solid #333333;
}

.service .content .accordian-container:nth-child(1) .body{
	display: block;
}
.service .content .accordian-container .body p{
    font-size: 15px;
	line-height:20px;
	color:#ffffff;
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;	
}


/*Classes Section*/

.classes{
	padding:80px 0px 50px;
	background-color: #ffffff;
}

.classes .content{
	-webkit-display: flex;
	display: flex;
}

.classes .content .box{
	padding:15px;
	flex:0 0 50%;
	max-width: 50%;
}

.classes .content .img img{
	width: 100%;
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.classes .content .text h2{
    font-size: 30px;
    font-weight: 500;
    color: #000000;
    padding: 0px 0px 20px;
}

.classes .content .text p{
	font-size: 15px;
    line-height: 20px;
    color: #000000;
    margin: 0;
    padding: 0px 0px 30px;
    font-family: 'Open Sans', sans-serif;
}


.classes .content .class-items .item{
	margin-bottom: 30px;
	display: flex;
}
.classes .content .class-items .item:nth-child(1){
 background-color: #222222;
}
.classes .content .class-items .item:nth-child(2){
 background-color: #c11325;
}
.classes .content .class-items .item .item-text{
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.classes .content .class-items .item .item-text,
.classes .content .class-items .item .item-img{
	flex:0 0 50%;
	max-width: 50%;
	position: relative;
}

.classes .content .class-items .item .item-img img{
 width: 100%;
 display: block;
}
.classes .content .class-items .item .item-img .price{
	position: absolute;
	height: 50px;
	width: 60px;
	font-size:20px;
	font-weight: 500; 
	color:#ffffff;
	text-align: center;
	line-height: 50px;
}
.classes .content .class-items .item:nth-child(1) .item-img .price{
 background-color: #c11325;
 left:0;
 top:0;
}
.classes .content .class-items .item:nth-child(2) .item-img .price{
 background-color: #222222;
 right:0;
 top:0;
}
.classes .content .class-items .item .item-text h4{
	font-size: 20px;
    margin: 0;
    padding: 0px 0px 15px;
    font-weight: 500;
    color: #ffffff;
    text-transform: capitalize;
    text-align: left;
}

.classes .content .class-items .item .item-text p{
	font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    text-align:left;
    margin: 0;
    padding:0 0 20px;
    font-family: 'Open Sans', sans-serif;
}
.classes .content .class-items .item .item-text a{
 font-size: 16px;
 text-decoration: none;
 display: inline-block;
}

.classes .content .class-items .item .item-text a{
	color:#ffffff;
}


/*Start Today Section*/
.start-today{
	background-color: #222222;
}

.start-today .content{
	-webkit-display: flex;
	display: flex;
	align-items: center;
}

.start-today .content .box{
	flex:0 0 50%;
	max-width: 50%;
	padding:0px 15px;
}

.start-today .content .img img{
	width: 100%;
	display: block;
}

.start-today .content .text h2{
	font-size: 30px;
    font-weight: 500;
    color: #ffffff;
    padding: 0px 0px 20px;
}

.start-today .content .text p{
	font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    margin: 0;
    padding: 0px 0px 20px;
    font-family: 'Open Sans', sans-serif;
}

.start-today .content .text .btn{
	padding: 8px 30px;
    background-color: #c11325;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    border: 1px solid transparent;
    cursor: pointer;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.start-today .content .text .btn:hover{
	color:#ffffff;
	border-color: #ffffff;
	background-color: transparent;
}



